*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
    color:#222;
    padding:20px;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:20px;
}

#mqttStatus{
    padding:10px;
    border-radius:10px;
    background:red;
    color:white;
}

.dashboard{
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 4px 15px rgba(0,0,0,0.2);
    text-align:center;
}

.card p{
    font-size:32px;
    margin-top:10px;
}

.controle{
    margin-top:30px;
    display:flex;
    gap:15px;
}

button{
    border:none;
    padding:15px 25px;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
}

#ligarBtn{
    background:green;
    color:white;
}

#desligarBtn{
    background:red;
    color:white;
}

.alertaArea{
    margin-top:30px;
}

#alertas{
    background:white;
    padding:20px;
    border-radius:15px;
    margin-top:10px;
}

.graficos{
    margin-top:30px;
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(350px,1fr));
    gap:20px;
}

.graficoBox{
    background:white;
    padding:20px;
    border-radius:20px;
}

.dark{
    background:#121212;
    color:white;
}

.dark .card,
.dark .graficoBox,
.dark #alertas{
    background:#1f1f1f;
}

@media(max-width:768px){

    .controle{
        flex-direction:column;
    }

}